body {
    box-sizing: border-box;
    max-width: 100%;
    /* color: #30302e; */
    color: #205456;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
h2 {
    /* background-color: #fada91; */
    /* background: linear-gradient(.25turn, #F8C346 , rgba(255, 255, 0, 0)); */
    border-bottom: 2px solid #F8C346;
    /* color: black; */
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 10px;
    /* border-radius: 25px 0 0 25px; */
}

#name-area {
    position: relative;
}

.message {
    margin-left: 12px;
    margin-top: 30px;
    font-size: 1.6rem;
    color: #F8C346;
    font-weight: 700;

}
.cal-month {
    margin-top: 5px;
    padding: 20px;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #205456;
}
.month-name {
    font-size: 2rem;
    font-weight: bold;
}
.greater-less {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 2rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #205456;
    background-color: #ACDED5;
    box-shadow: 3px 3px #90b7b0;
}
.moods {
    display: flex;
    justify-content: space-around;
}
.cal-days {
    margin-top: 20px;
    height: 250px;
    width: 340px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
 .cal-day {
    /* border: 2px solid lightgray; */
    background-color: #fce2e7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.cur-date {
    background-color: #ebbec6;
    border: none;
}
#mood1{
    color:#ed833a;
}
#mood2{
    color:#F8C346;
}
#mood3{
    color:#F3A6B4;
}
#mood4 {
    color: #ACDED5;
}
#mood5{
    color:#52B677;
}
#mood6 {
    color: #205456;
}

/* Style Dom Elements */
.motivated {
    background-color: #ed833a;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}
.happy {
    background-color: #F8C346;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}
.calm {
    background-color: #F3A6B4;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}
.tired {
    background-color: #ACDED5;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}
.stressed {
    background-color: #52B677;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}
.sad {
    background-color: #205456;
    color: white;
    font-size: 1.7rem;
    font-family: 'Noto Emoji', sans-serif;
}

.todo-main {
    width: 100%;
}
.gratitude-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-task-area {
    padding-left: 15px;
}
#type-task {
    height: 25px;
    width: 250px;
    padding: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #205456;
}
#add-task {
    height: 40px;
    padding: 5px;
    margin-left: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #205456;
    background-color: #ACDED5;
    border-radius: 25px;
    border: 2px solid #205456;
    box-shadow: 3px 3px #90b7b0;
}
.gratitude-holder, .gratitude-holder2 {
    padding: 10px 20px 10px 20px;
}
.grat-spacing {
    margin-bottom: 25px;
}
#gratitude-input {
    margin-left: 20px;
    padding: 20px;
    width: 275px;
    border: 2px solid #205456;
    border-radius: 25px;
    margin-bottom: 10px;
}

@media screen and (min-width: 420px){
    body {
        background-color: #205456;
        display: flex;
        justify-content: center;
    }
    .app-body {
        max-width: 400px;
        min-height: 740px;
        background-color: white;

    }
}